.stat-tile{
    display: flex;
    /* border: 2px solid green; */
    width: 250px;
    justify-content: space-between;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
}


.stat-img {
    width: 20%;
    opacity: 0.6;
    border-radius: 20px;
    overflow: clip;
}

.data-stat-card {
    display: flex;
    flex-direction: column;
    /* border: 2px solid orange; */
    padding: 3px;
    width: 70%;
    justify-content: space-around;
}

.red { background: linear-gradient(135deg,#ef4444,#dc2626); }
.orange { background: linear-gradient(135deg,#fb923c,#f97316); }
.purple { background: linear-gradient(135deg,#a78bfa,#7c3aed); }
