.vaccinationdose{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    padding: 10px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}
