.search-bar{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar > h2{
   width: 40%;
   margin: auto;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
} 

.input > form{
    display: flex;
}

#countryName { 
    width: 50%;
    margin: 5px;
    border: 2px solid maroon;
    padding: 20px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}

#referenceDate { 
    width: 50%;
    margin: 5px;
    border: 2px solid maroon;
    padding: 20px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}

.searchButton{
    width: 50%;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    background: #FFFFFF;
}