.vaccinationdose-tile {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 45%;
    /* border: 2px solid green; */
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background: #eef3fb;
}


.vaccinationdose-datastat {
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid orange; */
    padding: 5px;
    margin: 4px;
    justify-content: flex-start;
    align-self: flex-start;
}